.purple{
    color: #C778DD;
}
.firstElement{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}
.firstElement h3{
    margin-right: 10px;
}
.Box{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.content{
    display: flex;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
@media screen and (max-width: 1120px) {
    .left{
        position: absolute;
        z-index: -5;
    }
    .right{
        z-index: 5;
    }
}
@media screen and (max-width: 890px){
    .right{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .firstElement h3{
        font-size: 28px;
    }
}