.Name{
    background-color: #282C33;
    padding: 8px;
    border: 1px solid var(--gray, #ABB2BF);
    width: 180px;
}
.Name h3{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}
.About{
    background-color: #282C33;
    padding: 8px;
    border: 1px solid var(--gray, #ABB2BF);
    width: 180px;
}
.About p {
    font-size: 16px;
    font-weight: 400;
    color: #ABB2BF;
    margin: 0;
    white-space: pre-wrap;
}
.Box{
    margin-right: 15px;
    margin-bottom: 15px;
}