@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');
.container{
    max-width: 1048px;
    margin: 0 auto;
    padding: 0px 12px 0px 12px;
}
@media screen and (max-width: 1120px) {
    .container{
        max-width: 798px;
    }
}
@media screen and (max-width: 890px){
    .container{
        max-width: 100%;
    }
}
body{
    background-color: #282C33;
}
*{
    font-family: 'Fira Code';
    font-weight: 400;
}
h2{
    color: white;
}
hr{
    margin-top: 150px;
    width: 100%;
}
@media (max-width: 600px){
    hr{
        display: none;
    }
}